html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}



canvas {
  height: 100vh;
  width: 100vw;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh {
  position: absolute;
  bottom: 35%;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  width: 250px;
  height: 100%;
  padding: 20px;
  transition: right 0.3s;
  overflow: auto;
  z-index: 1;
}

.transaction-data {
  color: white;
  font-size: 14px;
}

.open-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.button-1 {
  background-color: #1f2c58;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #261535;
}

p {
  color: white;
  font-size: 14px;
}